
@{
    ViewBag.Title = "Import CSV";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success"></p>
<div>
    <h4>Import CSV</h4>
    <hr />
   
    <div class="row">
        <div class="col-md-12">
            
            <h2>Upload File</h2>

            @using (Html.BeginForm("Upload", "CSVImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">
                    <input type="file" id="dataFile" name="upload" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default"> <i class="fa fa-check"></i> Import</button>
                </div>

                @*if (Model != null)
                {
                    <table>
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }*@
            }

        </div>
    </div>
        
</div>
